<div class="modal-body">
  <%= form_for :new_password,url: {controller: "users",action: "new_password"}, remote: true, html: {style: "display: inline;"} do |f| %>
  <ul class="errors" style="color: #B00100">
  </ul>
  <%= f.text_field :compte, :class=>"input-block-level", :placeholder=>"compte utilisateur ayant perdu le mot de passe",required: true,id: "compte"%>
  <%= f.password_field :passe, :class=>"input-block-level", :placeholder=>"nouveau mot de passe",required: true,id: "passe", onblur: "verif_pass();"%>
  <%= f.password_field :verif_passe, :class=>"input-block-level", :placeholder=>"vérifier nouveau mot de passe",required: true,id: "verif", onblur: "verif_pass();"%>
  <button class="btn btn-large btn-primary" type="submit" id="b_submit" onclick="anime();">Continuer &blacktriangleright;</button>
  <%end %>
</div>
