<div class="modal-body">
  <h2>Mot de passe modifier pour le compte <%= @user.compte %> <i class="icon-white icon-align-justify"></h2>
  <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
</div>
