<div class="modal-header">
  <button data-dismiss="modal" class="close" type="button">&times;</button><h3>  <%= @coordonne_four.coordonne_bancaire.nom.force_encoding("UTF-8")   %></h3>
</div>
<div class="modal-body"> 
  <span id="error" style="color :red;"></span><br/>
   <%= form_for(:fournisseurs, :url => {:controller=> 'fournisseurs',:action=> 'save_value_cood',:id=> @coordonne_four.id},remote: true, :html=> {:multipart=>true}) do |b| %>

  
 <%= b.text_field :valeur,:value=>@coordonne_four.valeur,class: "input-xlarge", "placeholder"=>"valeur du coordonné" %>
    
    <input title="" data-original-title="" class="btn btn-large btn-primary" id="submi" name="commit" value="► Enregistrer" type="submit">
  <%end %>
</div>
 