<div class="row-fluid">

 

  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">entrées|sorties</div>
    </div>
    <div class="block-content collapse in">
      <div class='row-fluid'>
      <div class="span12">
       
        <div class="span4 offset1" style="font-size: 25px;">   
          <a href="/statistique/bilan_by_periode"> Bilan entrée|sortie par période<br/> <span style="text-decoration: none; font-size: 15px; color: #8699a4;" >Générer des états sur le bilan des entrées et des sorties d'une période. </span></a>

          </div> 
     <div class="span4 offset2"  style="font-size: 25px;">
     <a href="/statistique/index_bilan"> Bilan entrée|sortie sur plusieurs périodes<br/> <span style="text-decoration: none; font-size: 15px; color: #8699a4;" >Générer des états sur le bilan des entrées et des sorties de deux périodes et faire des comparaisons. </span></a>
   
</div> 
        
         
            
        
     
        </div>
      
      </div>
       <div class='row-fluid'>
       <div class="span12">
           </div>
      
      </div>
       <div class='row-fluid'>
       <div class="span12">
       
        <div class="span4 offset1" style="font-size: 25px;">   
          <a href="/statistique/valorisation_entree"> Valorisation par entrée<br/> <span style="text-decoration: none; font-size: 15px; color: #8699a4;" >Valoriser le stock d'un produit après chaque approvisionement sur ce produit. </span></a>

          </div> 
     <div class="span4 offset2"  style="font-size: 25px;">
     <a href="/statistique/valorisation_periode"> Valorisation par périodes<br/> <span style="text-decoration: none; font-size: 15px; color: #8699a4;" >Valoriser le stock d'un produit après à la fin d'une période. </span></a>
   
</div> 
   </div>
         </div>
        
         
            
        
     
        </div>
      </div>
    </div>
  </div>
